<%- partial('../../layouts/topbar.ejs') %>

    <h2 style="margin-left: 600px; margin-top: 20px;">
        Push Notification
    </h2>
</div>
<div>
    <div style="padding-left: 1350px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add New
  
</button>

    </div>
    <h2 style="margin-left: 30px; margin-top: 20px; margin-top: -40px;">
        Saved Pushed Notification
    </h2>

</div>
<!-- /.card-header -->
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Notification</th>

                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Share 4Par with firends</td>

                <td>
                    <div class="icon-bar">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>

                    </div>
                </td>


            </tr>
            <tr>

                <td>Hota perfect Putt with % accuracy
                </td>

                <td>
                    <div class="icon-bar ">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>

                <td>Play your solo game
                </td>
                <td>
                    <div class="icon-bar ">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>

                    </div>
                </td>
            </tr>
            <tr>

                <td>Get a perfect chip score with 100% accuracy
                </td>
                <td>
                    <div class="icon-bar ">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>

                    </div>
                </td>
            </tr>
            <tr>

                <td>Share 4par with friends
                </td>

                <td>
                    <div class="icon-bar ">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>

                    </div>
                </td>
            </tr>
            <tr>

                <td>Hot a perfect putt with % accuracy
                </td>

                <td>
                    <div class="icon-bar ">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>

                    </div>
                </td>
            </tr>
            <tr>

                <td>Play your solo game
                </td>

                <td>
                    <div class="icon-bar ">
                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>

                    </div>
                </td>
            </tr>
            <tr>

                <td>Get a perfect chip score with 100% accuracy
                </td>
                <td>
                    <div class="icon-bar ">

                        <button type="button" class="btn" data-toggle="modal" data-target="#editexampleModal">
                            <a href="#" style="padding-left: 20px;"><i class="fa fa-edit"></i></a>
                        </button>

                        <button type="button" class="btn" data-toggle="modal" data-target="#delexampleModal">
                        <a href="# " style="padding-left: 20px; "><i class="fa fa-trash "></i></a>
                        </button>
                    </div>


                    </tfoot>
    </table>
</div>
<div class="modal fade" id="delexampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content ">

            <div class="modal-body ">
                <div style="margin-bottom: 20px;">

                    <div style="margin-bottom: 20px; margin-left: 80px; font-weight: bold;">
                        <h4>Alert! Do you want to Delete?

                        </h4>

                    </div>


                    <div style="padding-left: 180px; padding-bottom: 20px;">
                        <button type="button " class="btn btn-primary ">yes</button>

                    </div>
                    <div style="padding-left: 180px; ">
                        <button type="button " class="btn btn-primary">no</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editexampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabeledit" style="padding-left: 210px;">Edit</h5>
                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
            </div>
            <div class="modal-body ">
                <div style="margin-bottom: 20px;">

                    <div style="margin-bottom: 20px;">
                        <h5>Notification</h5>
                        <input id="text" placeholder="<%= __('Share 4Par with friends') %>" name="emailAddress" type="email" class="form-control" required value="" />
                    </div>

                    <div class="modal-footer ">
                        <div style="padding-right: 180px;">
                            <button type="button " class="btn btn-primary ">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabel " style="padding-left: 210px;">Add New</h5>
                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
            </div>
            <div class="modal-body ">
                <div style="margin-bottom: 20px;">

                    <div style="margin-bottom: 20px;">
                        <h5>Notification</h5>
                        <input id="text" placeholder="<%= __('Share 4Par with friends') %>" name="emailAddress" type="email" class="form-control" required value="" />
                    </div>

                    <div class="modal-footer ">
                        <div style="padding-right: 180px;">
                            <button type="button " class="btn btn-primary ">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>