<style>
  /* The alert message box */
  .alert {
    padding: 20px;
    background-color: #65f436; /* Red */
    color: white;
    margin-bottom: 15px;
    transition: 0.3s;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
</style>
<% if (success_nsg!='') { %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  <%= success_nsg %>
</div>
<% } %>
