
 <body class="dashboard-page sb-l-o sb-r-c">
    <!-- Start: Main -->
    <div id="main">
      <!-- Start: Header -->
      <!-- <%- partial('../../layouts/header.ejs') %>
        <%- partial('../../layouts/side_bar.ejs') %> -->
  
      <!-- Start: Content-Wrapper -->
      <section id="content_wrapper">
        <%- partial('../../layouts/topbar.ejs') %>
        <%- partial('../../layouts/datatable.ejs') %>
        </section>
    </div>
  </body>