<div>
    <p>
        Dear <%= name || 'User' %>,
    </p>
    <br />
    <p>User the following code to verify your email address:</p>
</div>
<div>
    <p> <strong>Code: <%= code %> </strong></p>
</div>

