<%- partial('../../layouts/topbar.ejs') %>
<style>
  .ring-color-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
    
</style>

<div class="container ring-color-container">
  <h3 class="heading">Putting Rings Color</h3>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 1</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-red">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 2</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-green">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 3</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-blue">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 4</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-lightblue">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <a href="#"><button class="btn btn-dark" type="button">Update</button></a>
</div>

<div class="container ring-color-container">
  <h3>Chipping Rings Color</h3>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 1</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-red">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 2</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-success">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 3</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-lightblue">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-30 col-12 d-sm-inline-block" style="max-width: 250px">
      <!-- small card -->
      <div class="small-box">
        <div class="inner">
          <h4>ring 4</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-30 col-12 d-sm-inline-block">
      <!-- small card -->
      <div class="small-box bg-Yellow">
        <div class="inner"></div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
  </div>

  <a href="#"><button class="btn btn-dark" type="button">Update</button></a>
</div>
