<%- partial('../../layouts/topbar.ejs') %>
<style>
    .game-play-container {
        padding: 20px;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      min-width:  1000px;
    }
  </style>

<div class="container game-play-container">
    <h3 >
        Identify Hole Time
    </h3>
</div>
<div class="container game-play-container">
    <h4>
        Time
    </h4>

    <input  class="form-control"type="time" id="sec" name="sec" min="0" max="60" required>
   
    <div>
        <button class="btn btn-dark"> save</button>
    </div>
</div>
<div class="container game-play-container">
    <h3>
        GamePlay Time
    </h3>
</div>
<div class="container game-play-container" >
    <h4>
        Time
    </h4>

    <input class="form-control" type="time " id="gameplay" name="sec " min="0 " max="60 " required>
    <div>
        <button class="btn btn-dark" > save</button>
    </div>
</div>