<%- partial('../../layouts/topbar.ejs') %>


<h2 style="padding-left: 650px; margin-top: 50px;">Contact Us </h2>
<div style="margin-left: 500px; margin-right: 500px; margin-top: 70px;">
    <h5> Text</h5>
    <input id="Text" placeholder="<%= __('Reach out to us, In case of any query') %>" name="Contributor" type="heading" class="form-control" required value="" />
</div>
<div style="margin-left: 500px; margin-right: 500px; margin-top: 20px;">
    <h5>Contact Email</h5>
    <input id="emailAddress" placeholder="<%= __('example@gmail.com') %>" name="emailAddress" type="email" class="form-control" required value="" />
    <button style="margin-left: 160px; margin-top: 20px; height: 40px; width: 150px; font-size: 16px; font-weight: bold;"> save</button>
</div>
</div>